*{
	background-color: beige;
	font-size: large;
	text-align: center;
}

.register{
	width: 220px;
	display:inline-block;
	position: relative;
	text-align: center;
	top: 100px;
	color: #0C7CB6;
}

.register_title{
	position: relative;
	font-size: 30px;
	left: 15px;
}

.register_name input{
	max-width: 220px;
	float: left;
	position: relative;
	margin: 10px;
	font-family: "arial black";
	border: 1px solid gray;
	height: 40px;
}
.register_name input[type=submit]{
	color: white;
	width: 220px;
	height: 40px;
	background-color: #0c7cb6;
	border: 1px solid white;
	font-family: "comic sans ms";
}
.register_name button{
	color: white;
	height: 40px;
	width: 220px;
	background-color: #0c7cb6;
	position: relative;
	margin: 10px;
	border: 1px solid white;
	font-family: "comic sans ms";
}